
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Website</title>
</head>

<body>
    <div class="container">
        <h1>IT Sistemlerine Hoşgeldiniz @ViewBag.User </h1>
        <p>Yukarıda size tanımlı olan modülleri kullanabilirsiniz.</p>
    </div>
</body> 

</html>
